.home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-color: var(--bg-color); /* Fundo verde escuro */
    padding: 20px;
}

.home-content {
    background: var(--dark-color); /* Fundo escuro */
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    width: 90%;
}

.home-content h1 {
    font-size: 4rem;
    color: var(--accent-color); /* Cor amarela */
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif; /* Fonte romântica */
}

.home-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: var(--light-color); /* Texto claro */
    line-height: 1.8; /* Espaçamento entre linhas */
}

.btn-next {
    display: inline-block;
    padding: 15px 30px;
    background: var(--accent-color); /* Fundo amarelo */
    color: var(--dark-color); /* Texto verde escuro */
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 12px;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn-next:hover {
    transform: scale(1.1); /* Ampliação suave no hover */
    background: var(--light-color); /* Texto claro */
}
